$transition-time: 0.25s;

.option-bar {
  display: flex;
  align-items: center;
  padding: 12px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.05));
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  text-align: right;
  z-index: 9999;
  transition: background-color $transition-time ease-in-out;

  .app-title {
    margin: 0 10px;
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-size: 1.1em;
    color: rgb(31, 73, 136);
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: scale(0);
    transition: all 0.25s ease-in-out, opacity 0.01s;
  }

  .grid-button {
    cursor: pointer;
    border: 0;
    background: transparent;

    &:focus {
      outline: 0;
    }

    svg {
      transition: color $transition-time ease-in-out;
      color: rgba(29, 67, 120, 0.9);
      font-size: 1.75em;
    }
  }
}

.sticky-inner-wrapper {
  z-index: 900;
}

.sticky-outer-wrapper {
  &.active {
    .app-title {
      display: block;
      transform: scale(1);
      opacity: 1;
      color: #fff;
    }

    .option-bar {
      background-color: rgb(37, 94, 177);
    }

    .grid-button {
      svg {
        color: #fff;
      }
    }
  }
}

.option-flex-placeholder {
  width: 42px;
}
