$transition-time: 0.25s;

.option-bar {
  display: flex;
  align-items: center;
  padding: 12px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.01));
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  text-align: right;
  z-index: 9999;
  transition: background-color $transition-time ease-in-out;

  .app-title {
    margin: 0 10px;
    width: 0;
    font-family: 'Pacifico', cursive;
    font-size: 1.1em;
    color: rgb(31, 73, 136);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: scale(0);
    transition: all 0.25s ease-in-out, opacity 0.01s;

    @media #{$small-screen} {
      font-size: 0.85em;
      margin: 0 2px;
    }
  }

  .search-bar {
    width: 100%;
    margin: 0 10px;
    padding: 6px 14px;
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px -1px 0px rgba(80, 80, 80, 0.075);
    font-family: 'Varela Round', sans-serif;
    font-size: 0.95em;
    color: rgba(52, 45, 76, 0.82);
    outline: 0;
    border-bottom: 1px solid rgba(175, 175, 175, 0.075);
    transition: all $transition-time ease-in-out;

    &::placeholder {
      color: #ccc;
    }
  }

  .grid-button {
    cursor: pointer;
    border: 0;
    background: transparent;

    &:focus {
      outline: 0;
    }

    svg {
      transition: color $transition-time ease-in-out;
      color: rgba(29, 67, 120, 0.9);
      font-size: 1.75em;
    }
  }
}

.sticky-inner-wrapper {
  z-index: 900;
}

.sticky-outer-wrapper {
  &.active {
    .app-title {
      width: auto;
      display: block;
      transform: scale(1);
      opacity: 1;
      color: #fff;
    }

    .option-bar {
      background-color: rgb(37, 94, 177);
    }

    .grid-button {
      svg {
        color: #fff;
      }
    }
  }
}
