@import 'fonts';

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  background: #F0F0F5;
  padding-bottom: 34px;
}

a {
  color: #FA1E4B;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  transition: all 0.25s ease-in-out;

  &:hover {
    border-bottom: 1px dashed rgba(250, 30, 75, 0.75);
  }
}

.loading {
  display: block;
  margin: 0 auto;
}

.error-alert-container {
  text-align: center;
  margin-bottom: 10px;

  .error-alert {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid rgba(185, 2, 2, 0.5);
    background-color: rgba(255, 55, 55, 0.25);
    color: rgb(195, 0, 0);
    font-size: 0.85em;
  }

  .error-icon {
    margin-right: 0.2em;
    font-size: 1.75em;
  }
}

@import 'variables';
@import 'header';
@import 'options';
@import 'footer';
@import 'shots';
